@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model BD9.Pages.Service.IndexModel
@*@Styles.Render("~/Content/css")*@
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Список Услуг и моделей</h2>
<table>
    <tr><th>Наименование услуги</th><th>Производитель</th><th>Наименование модели</th><th>Заметка</th><th>Цена</th></tr>
    @foreach (var user in Model.ServiceModels)
    {
        <tr>
            <td>@user?.Services?.ServiceName</td>
            <td>@user?.model?.Manufacture</td>
            <td>@user?.model?.ModelName</td>
            <td>@user?.Note</td>
            <td>@user?.Services?.Price</td>
        </tr>
    }
</table>